{{!-- Style --}}
<style>
  .logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

    {
      {
       !-- rgb(52, 58, 64);
      --
    }
  }

  body {

    background-color: rgb(54, 172, 250);
    background-repeat: no-repeat;
    background-size: 100%;

  }

  .rounded {
    float: left;
  }



  img {
    border-radius: 50%;

  }
</style>

{{!-- nav bar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="navbar-brand" href="#">
    <div class="logo-image">
      <img src="/images/logo.jpg" alt="logo" class="img-fluid">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{!-- <li class="nav-item">
        <g class="nav-link" href="#">Refill Reminder</g>
        </li>
        <li class="nav-item">
        <g class="nav-link" href="#">Emergancy Contact</g>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
      <span class="navbar-text">
        <a>Make sure you <u>know</u> what you are taking!</a>
      </span>
    </div>
</nav>
<br>
{{!-- ================================================================ --}}
<br>
{{!-- image with info --}}

<div class="container">

  <div class="card text-center">
    <div class="card-header">
      <img src="/images/prescription.jpg" width="200" height="150px">
    </div>
    <div class="card-body">
      <h5 class="card-title">Good to know</h5>
      <p class="card-text"><b>Daily, medical professionals hand out medication to their patients without check what they
          are currently on.
          The medication you receive from your primary physician could counteract or have the possibility of giving you
          a higher chance of complication when mixed with other medication prescribed by our therapist or natural home
          remedies.
          Check Your Pill (CYP) is here to ensure your medication is right for you so you can live your beautiful
          life!</b></p>

    </div>

    <br>

    {{!-- ======== --}}
    {{!-- <div class="row">
  <h2>
      <img src="/images/prescription.jpg" height="75px"> 
      <span>Daily, medical professionals hand out medication to their patients without check what they are currently on. 
      The medication you receive from your primary physician could counteract or have the possibility of giving you a higher chance of complication when mixed with other medication prescribed by our therapist or natural home remedies. 
      Check Your Pill (CYP) is here to ensure your medication is right for you so you can live your beautiful life!</span>
  </h2>
  </div> --}}
    <br>
    {{!-- ================= --}}
    <br>
    {{!-- 3 CARD --}}
    <div class="card-group">
      <div class="card">
        <img src="/images/basicPre.jpg" class="card-img-top" alt="pre">
        <div class="card-body">
          <h5 class="card-title">Be careful</h5>
          <h4 class="card-text">Watch what you take. Doctors just give you what they think will work not knowing
            everything your taking.</h4>

        </div>
      </div>
      <div class="card">
        <img src="/images/weekMeds.jpg" class="card-img-top" alt="weekly meds">
        <div class="card-body">
          <h5 class="card-title">Weekly Meds</h5>
          <h4 class="card-text">What medication are <u>YOU</u> taking. Create an account and see what medication you are
            taking that can affect your health when mixed</h4>
        </div>
      </div>
      <div class="card">
        <img src="/images/overLoad.jpg" class="card-img-top" alt="To many" height="250px">
        <div class="card-body">
          <h5 class="card-title">To many?</h5>
          <h4 class="card-text">Look into home remedies. Did you know a mint leaf when eaten will calm and upset
            stomach?</h4>
        </div>
      </div>
    </div>
    {{!-- ================ --}}
    <br>
    {{!-- login text --}}
    {{!-- <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
    
        <img src="/images/logo2.jpg" alt="logo"width="50" height="50">
        <p>Create an account or login</p>
        
        <a href="/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/login" class="btn btn-secondary btn-block">Login</a>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h1><i class="fas fa-capsules fa-3x"></i></h1>
          <p>Create an account or login</p>
          <a href="/register" class="btn btn-primary btn-block mb-2"
            >Register</a
          >
          <a href="/login" class="btn btn-secondary btn-block">Login</a>
        </div>

      </div>
    </div>
  </div> --}}
  </div>