{{!-- Style --}}
<style>
  #logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }

  .card {
    padding: 0 0;
  }

  .card-group {
    margin: 0em 1em;
  }

  .card-footer {
    min-height: 10em;
    width: 100%;
  }

  Body {
    margin-top: 2em;
  }

  Body {
    background-color: rgba(63, 170, 241, 0.76);
    background-repeat: no-repeat;
    background-size: 100%;
  }
</style>

{{!-- NAV --}}
<nav class="navbar shadow fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand">Check Yo Pill</span>
    <div id="logo-image">
      <img src="/images/logo.jpg" alt="logo" class="img-fluid rounded-circle">
    </div>

    <div class="mr-auto ml-2">
      <span class="navbar-text">
        <a>Make sure you <strong><i>know</i></strong> what you are taking!</a>
      </span>
    </div>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login</a></button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>

<div class="container shadow-lg">
  <div class="row">
    <div class="card text-center">
      {{!-- Head Photo --}}
      <div class="card-header">
        <img src="/images/prescription.jpg" width="200" height="150px" style="border-radius: 50%">
      </div>

      {{!-- Main Info --}}
      <div class="card-body">
        <h1 class="card-title">Check Yo Pill</h1>
        <p class="card-text">

          <blockquote class="blockquote">
            <p class="mb-0">"45.8% of the U.S. population has used prescription drugs in the past 30 days."</p>
            <footer class="blockquote-footer">Center for Disease Control and
              Prevention,<cite title="Source Title"> May 2019</cite></footer>
          </blockquote>

          Daily, medical professionals hand out medication to their patients without check what they
          are currently on.
          The medication you receive from your primary physician could counteract or have the possibility of giving you
          a higher chance of complication when mixed with other medication taken over-counter or prescribed by our
          psychiatrists or natural home
          remedies.

          Check Your Pill (CYP) is here to ensure your medication is right for you so you can live your beautiful
          life!
        </p>
        <button class="btn btn-primary mx-auto"> <a class="nav-link text-white" href="/login">Login</a></button>

      </div>

      <div class="row">
      </div>
      {{!-- 3 Card Info --}}
      <div class="card-group">
        <div class="card col-sm-4">
          <div class="card-body">
            <img src="/images/basicPre.jpg" class="card-img-top" alt="pre" style="height: 197px">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Be Careful</h5>
            <p class="card-text">98,000 people die from Preventable Adverse Drug Reactions every month. Find out if any
              of your physicians have commited errors.</p>
          </div>
        </div>
        <div class="card col-sm-4">
          <div class="card-body">
            <img src="/images/weekMeds.jpg" class="card-img-top" alt="weekly meds" style="height: 197px">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Weekly Meds</h5>
            <p class="card-text">What medication are <i>you</i> taking? Create an account to find how possible
              interactions amongst your prescriptions.</p>
          </div>
        </div>
        <div class="card col-sm-4">
          <div class="card-body">
            <img src="/images/overLoad.jpg" class="card-img-top" alt="To many" style="height: 197px">
          </div>
          <div class="card-footer">
            <h5 class="card-title">Too Many?</h5>
            <p class="card-text">Look into alternative remedies. Did you know eating mint leaves will calm an upset
              stomach?</p>
          </div>
        </div>
      </div>
      <br>
    </div>